<header-component></header-component>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-3 hidden-xs-down bg-faded sidebar">
            <history-list></history-list>
        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-9 offset-md-3 pt-3">
            <feed-list></feed-list>
        </main>
    </div>
</div>