<form class="form-inline mt-2 mt-md-0" novalidate>
    <input ng-model="$ctrl.url" class="form-control mr-sm-2 url-input" type="text" placeholder="Enter feed url" />
    <button ng-click="$ctrl.submit()" class="btn btn-success my-2 my-sm-0" type="button">
        {{$ctrl.busy ? 'Loading...' : 'Submit'}}
    </button>
    <div class="btn-group ml-4" role="group">
        <button ng-click="$ctrl.changeSortBy('timestamp')" type="button" class="btn" ng-class="$ctrl.sortBy == 'timestamp' ? 'btn-primary': 'btn-outline-primary'">
            <i ng-show="$ctrl.sortBy == 'timestamp'" class="fa" ng-class="$ctrl.reverse ? 'fa-chevron-down': 'fa-chevron-up'"></i>
            By publication date
        </button>
        <button ng-click="$ctrl.changeSortBy('title')" type="button" class="btn" ng-class="$ctrl.sortBy == 'title' ? 'btn-primary': 'btn-outline-primary'">
            <i ng-show="$ctrl.sortBy == 'title'" class="fa" ng-class="$ctrl.reverse  ? 'fa-chevron-down': 'fa-chevron-up'"></i>
            Alphabetically
        </button>
    </div>
</form>

<div class="list-group fade-anim mt-4 mb-4">
    <a ng-repeat="item in $ctrl.feed | orderBy: $ctrl.sortBy:$ctrl.reverse | filter: $ctrl.search()" ng-click="$ctrl.view(item)" href class="list-group-item list-group-item-action justify-content-between">
        {{item.title}}
        <span ng-if="item.pubDate" class="badge badge-default badge-pill pt-2 pb-2">{{item.timestamp | timeAgo}}</span>
    </a>
</div>