<ul class="nav nav-pills flex-column fade-anim">
    <li ng-repeat="item in $ctrl.history"  class="nav-item">
        <a ui-sref="app({url: item.url})" class="nav-link">{{item.url}}  <span class="text-muted">({{item.date | timeAgo}})</span></a>
    </li>
</ul>