<div class="modal-header">
    <h5 class="modal-title">{{vm.item.title}}</h5>
    <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>{{vm.item.description}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.ok()">Go to feed page</button>
    <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Close</button>
</div>