@import "~bootstrap/scss/bootstrap.scss";

body {
  padding-top: 50px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.form-inline {
  .url-input {
    width: 400px;
  }

  .btn {
    position: relative;
  }
}

.fade-anim {
  .ng-enter {
    transition: 1s linear all;
    opacity: 0;
  }

  .ng-enter.ng-enter-active {
    opacity: 1;
  }

  .fade.ng-leave {
    transition: 1s linear all;
    opacity: 1;
  }
  .fade.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

// modal fix
body.modal-open {
  .modal {
    @extend .show;
  }
  .modal-backdrop {
    @extend .modal-backdrop.show;
  }
}